@import url(https://fonts.googleapis.com/css?family=Bitter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  font-family: 'Bitter' !important;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color:inherit;
}
a:hover {
  color:inherit;
}
body, html, #app {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Bitter' !important;
}

.container {
  padding: 30px 60px;
  max-width: none;
}

.main-page {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
}
.main-page-img img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.header {
  display: flex;

  justify-content: space-between;
}
.main-page .header {
  position: absolute;
}
.header-menu {
  display: flex;
}
.header-menu__line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background: #B52236;
  align-items: center;
  max-height: 65px;
  padding: 0 20px;
}/*  */

.header-menu__line:hover {
  transition: 0.5s all;
  background: rgba(113, 32, 63, 1);
}

.footer-main {
  position: absolute;
  bottom: 20px;
  display: flex;
  letter-spacing: 2%;
}

.footer-menu .menu-block a:hover {
  transition: 0.5s all;
  text-decoration: none !important;
  color: black;
}

.footer-main__text {
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  letter-spacing: 2%;
}

.footer-main__block {
  display: flex;
  align-items: end;
  justify-content: start;
  margin-left: 100px;
}
.phone {
  font-size: 26px;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  padding-left: 25px;
}

.footer {
  margin-top: 90px;
  background: #B52236;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 18px;
}
.footer-text, .footer-menu, .footer-social {
  padding: 90px 0;
}
.footer-text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.footer-text .underline {
  margin-top: 25px;
  font-size: 14px;
  text-decoration: underline;
}
.footer-menu {
  display: flex;
  gap: 120px;
}
.footer-menu .menu-block li{
  list-style-type: none;
  line-height: 40px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.footer-social .phone-block {
  display: flex;
  align-items: center;
}
.footer-social .phone {
  font-size: 18px;
  padding-right: 38px;
}
.footer-social img:hover {
  transition: 0.5s all;
  opacity: 0.4;
}
.title {
  text-align: center;
  font-size: 48px;
  margin-top: 90px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}
.btn-outline {
  font-size: 24px;
  padding: 35px 0;
  width: 33%;
  max-width: 424px;
  color: black;
  border:1px solid rgba(181, 34, 54, 1);
}

.btn-outline:hover, .btn-outline.active {
  transition: 0.5s all;
  background-color: rgba(252, 207, 193, 0.21);
  color: black;
  border:1px solid rgba(181, 34, 54, 1);
}
.btn-outline:active {
  background-color: inherit;
  color: black;
  border:1px solid rgba(181, 34, 54, 1);
}
.btn-outline:focus {
  box-shadow: none;
}
.tab-active-content {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.content-tabs {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.tab-content {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
.tab-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  padding: 42px 0;
  border-bottom: 0;
}
.tab-item:last-child {
  border-bottom: 1px solid black;
}
.tab-item__name {
  font-size: 30px;
  border-bottom: 2px dashed rgba(181, 34, 54, 1);
  cursor: pointer;
  white-space: nowrap;
}
.tab-item__name:hover {
  transition: 0.5s all;
  border-bottom-style: solid;
  color: rgba(113, 32, 63, 1);
}
.tab-item__icons {
  display: flex;
  justify-content: end;
  flex-basis: 100%;
  padding-right: 30px;
  gap: 30px;
}
.tab-item__buttons {
  display: flex;
  flex-basis: auto;
  justify-content: end;
  gap: 25px;
}
.btn.buy {
  width: 200px;
  height: 60px;
  font-size: 18px;
  padding: 20px 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-filled {
  color: white;
  background: #B52236;
}
.btn-filled:hover {
  transition: 0.5s all;
  background-color: rgba(113, 32, 63, 1);
  color: white;
}
.btn-outline:hover {
  transition: 0.5s all;
}
.tab-buttons {
  display: flex;
  justify-content: space-between;
}
.hidden {
  display: none;
}
.subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.btn.large {
  max-width: none;
  width: 100%;
}

@media (max-width: 1000px) {
  .container {
    padding: 10px 20px;
  }
}

@media (min-width:769px) and (max-width: 1340px) {
  .tab-item__name {
    font-size: 20px;
  }
  .btn.buy {
    font-size: 14px;
    width: 150px;
  }
  .tab-item__icons, .tab-item__buttons {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .header-img img {
    max-width: 65px;
  }
  .max-hidden {
    display: none;
  }
  .max-visible {
    display: block;
  }
  .main-page .header-menu__line {
    width: 48px;
    height: 48px;
  }
  .main-page .header-menu {
    margin-left: auto;
  }
  .footer {
    flex-direction: column-reverse;
    margin-top: 60px;
  }
  .footer-text {
    padding: 0;
  }
  .footer-social {
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 48px;
    padding-right: 0;
    padding-left: 0;
  }
  .footer-social .max-visible {
    margin-left: auto;
  }
  .footer .phone {
    padding-left: 0;
  }
  .footer-menu {
    display: none;
  }
  .footer-main {
    display: none;
  }
  .main-page .header {
    position: relative;
  }
  .main-page .header .header-img {
    display: none;
  }
  .main-page__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
  }
  .main-page__logo img {
    max-width: 100px;
  }
  .main-page__logo .title {
    text-align: left;
    padding-left: 48px;
    letter-spacing: normal;
    margin-bottom: auto;
  }
  .main-page-img img {
    max-height: 300px;
    max-width: 100%;
    margin-top: 60px;
  }
  .main-page__social {
    padding: 0 35px;
    width: 100%;
  }
  .main-page__social, .main-page__social .phone {
    color: black;
    font-size: 18px;
  }
  .main-page__social .phone-icon {
    padding: 5px;
  }
  .main-page__social .phone {
    padding-right: 0;
    padding-left: 0;
    letter-spacing: 0;
    white-space: nowrap;
  }
  .main-page__social .time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    gap: 15px;
  }
  .main-page__social-wrapper {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .main-page__social-wrapper img {
    width: 48px;
    height: 48px;
  }
  .container {
    padding: 10px;
  }
  .title {
    font-size: 24px !important;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .content-tabs {
    flex-direction: column;
  }
  .tab-active-content .buttons {
    gap: 12px;
  }

  .btn {
    font-size: 12px;
  }
  .btn.buy {
    font-size: 12px;
    max-width: 172px;
  }
  .tab-item {
    flex-direction: column;
    align-items: start;
    gap: 15px;
    border: none;
  }
  .tab-item:last-child {
    border-bottom: 0;
  }
  .tab-item__name {
    font-size: 18px;
  }
  .tab-item__plus {
    position: absolute;
    right: 10px;
  }
  .sertificats-content .tab-item__buttons {
    width: 100%;
  }
  .sertificats-content .buy {
    min-width: 100%;
    max-width: none;
  }
}