.contacts-block {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.contacts-block .left {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}

.left-item  {
    display: flex;
    gap: 32px;
    align-items: center;
}

.left-item span {
    font-size: 24px;
    line-height: 28px;
}

.left-item__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
}

.map img {
    max-width: 100%;
}

@media (max-width: 1000px) {
    .left-item__text {
        font-size: 14px;
    }
    .left-item span {
        font-size: 20px;
    }
    .left-item img {
        max-width: 40px;
    }
}

@media (max-width: 768px) {
    .contacts-block {
        flex-direction: column-reverse;
    }
    .map {
        margin: 0 auto;
    }
    .left-item img {
       width: 32px;
    }
    .left-item span {
        font-size: 18px;
    }
}