.masters-page {
    height: 100%;
}
.masters-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
.master {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.master:hover {
    transition: 0.5s all;
    background-color: rgba(247, 161, 153, 0.21);
}

.master-fio {
    font-size: 18px;
    padding: 18px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .master {
        max-width: 45%;
    }
}