.offers-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 90px 12.5px;
    margin-top: 90px;
}

.offer-item {
    display: flex;
    flex-basis: 32%;
    flex-direction: column;
}

.offer-item__image img {
    height: auto;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.offer-item__title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 36px;
    height: 80px;
}
.offer-item__title span {
    display: block;
    margin-top: auto;
    text-decoration: dashed;
    text-decoration-color: rgba(181, 34, 54, 1);
    text-decoration-line: underline;
    text-underline-offset: 5px;
}
/* .offer-item__title span:hover {
    transition: 0.5s all ;
    text-decoration: underline;
    color: rgba(113, 32, 63, 1);
} */
.offer-item__icons {
    display: flex;
    font-size: 24px;
}
.offer-item__icons span {
    padding-left: 15px;
}

.offer-item__icons .icon {
    flex-basis: 50%;
}

.offer-item__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

@media (max-width: 1100px) {
    .offers-block {
        gap: 25px;
    }
    .offer-item__image {
        height: auto;
    }
    .offer-item__image img {
        max-width: 100%;
    }
    .offer-item {
        flex-basis: 48%;
    }
    .offer-item__title {
        font-size: 24px;
    }
    .offer-item__icons {
        font-size: 20px;
    }
    .offer-item__icons img {
        width: 40px;
    }
}

@media (max-width: 768px) {
    .offers-block {
        gap: 25px 10px;
        margin-top: 60px;
    } 
    .offer-item {
        flex-basis: 48%;
    }
    .offer-item__title {
        display: inline;
        font-size: 16px;
        margin-top: 6px;
        margin-bottom: 0;
    }
    .offer-item__title span {
        border-bottom: 0;
        text-decoration: dashed;
        text-decoration-color: rgba(181, 34, 54, 1);
        text-decoration-line: underline;
        text-underline-offset: 5px;
    }
    .offer-item__image {
        object-fit: cover;
    }
    .offer-item__image img {
        height: auto;
    }
    .offer-item__buttons {
        flex-wrap: wrap;
        gap: 6px;
    }
    .offer-item__buttons .btn {
        max-width: none;
        width: 100%;
    }
    .offer-item__icons {
        font-size: 14px;
        margin-top: 15px;
        flex-direction: column;
        gap: 10px;
    }
    .offer-item__icons span {
        padding-left: 5px;
    }
    .offer-item__icons img {
        width: 24px;
        height: 24px;
    }
    .offers-text .title {
        margin-bottom: 10px;
    }
}

@media (max-width: 405px) {
    .offer-item__title {
        margin-bottom: 10px;
    }
}