.service {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.service h2 {
    text-align: center;
    padding: 30px 0;
    cursor: pointer;
    
}

.service img {
    max-width: 100%;
}

.service:hover, .service.active {
    transition: 0.5s all;
    background-color: rgba(247, 161, 153, 0.21);
}
.service-active-content.hidden {
    display: none;
}
.buttons {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .service h2 {
        font-size: 20px;
    }
}