.wrapper {
    display: block;
}
 
/***** Sidebar *****/
 
.sidebar {
    width: 395px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -1000px;
    z-index: 999;
    background: white;
    color: black;
    transition: all .3s;
    text-align: left;
}
 
.sidebar.active {
    right: 0;
    opacity: 0.9;
}
.content {
    width: 100%;
    transition: all 0.3s;
}
 
/* Style for all buttons with the class btn-customized */
 
.dismiss img {
    cursor: pointer;
    
}
.dismiss img:hover, .search img:hover {
    transition: 0.5s all;
    border-radius: 50%;
    background-color: rgba(233, 81, 97, 0.21);
}

.sidebar {
    padding: 40px 50px;
}

.sidebar .search, .sidebar .dismiss {
    transition: all .3s;
}
.sidebar-header {
    display: flex;
    justify-content: space-between;
}

.search-container, .search-container input {
    width: 100%;
    
    padding: 16px 0;
}

.search-container input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 16px;
}

.sidebar-header .search {
    cursor: pointer;
}

.menu-elements {
    font-size: 24px;   
}

.menu-elements__sub {
    font-size: 18px;
}

.nav-buttons {
    margin-top: 60px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-buttons button {
    font-size: 18px;
    padding: 19px 0;
}

.menu-elements:hover {
    background: white;
}
 
.sidebar ul.menu-elements {
    padding-top: 30px;
    transition: all .3s;
}
.scroll-link:hover {
    text-decoration-color: rgba(181, 34, 54, 1);
}
.sidebar ul li a {
    display: block;
    padding: 10px 20px;
    padding-left: 0;
    border: 0;
    color: black;
}

 
.sidebar ul li a i {
    margin-right: 5px;
}
 
.sidebar ul li.active > a,
a[aria-expanded="true"] {
    
    color: black;
}

 
.sidebar a[data-toggle="collapse"] {
    position: relative;
}
 
.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
    .sidebar.active {
        opacity: 1;
        height: 100%;
        overflow: auto;
    }
}