.vacancy-items {
    display: flex;
    flex-direction: column;
}

.vacancy-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 45px;
    margin-bottom: 30px;
}

.vacancy-item__title {
    text-transform: uppercase;
    font-size: 24px;
}

.vacancy-item__description {
    font-size: 16px;
}

.vacancy-item__footer {
    display: flex;
    justify-content: space-between;
}

.vacancy-item__footer .icons {
    display: flex;
    font-size: 28px;
    
    justify-content: space-between;
}
.vacancy-item__footer .icons span {
    padding-left: 15px;
}
.vacancy-item__footer .icons .hours {
    padding-left: 20px;
}
.vacancy-item .button button{
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .vacancy-item__footer .icons span{
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .vacancy-item__title {
        font-size: 18px;
    }
    .vacancy-item__description {
        font-size: 14px;
    }
    .vacancy-item__footer {
        flex-direction: column;
    }
    .vacancy-item__footer .icons {
        flex-basis: 70%;
        flex-wrap: wrap;
        margin-bottom: 25px;

    }
    .vacancy-item__footer .icons span {
        font-size: 18px;
        padding-left: 5px;
    }
    .vacancy-item__footer .icons img {
        width: 32px;
        height: 32px;
    }
    .vacancy-item__footer .button button {
        width: 100%;
        max-width: none;
    }
}
@media (max-width: 365px) {
    .vacancy-item__footer .icons .hours {
        padding-left: 0;

    }
}